.App {
  background-color: #222;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  width: 100vw;
  padding: 2rem 1rem;
  background-color: #222;
  /* border: 1px solid red; */
  font-size: calc(10px + 2vmin);
  box-shadow: 0 1px 50px #111;
  z-index: 2;
}

.navbar a {
  min-width: 5rem;
  color: white;
}

.navbar a:hover {
  color: #ff80ab;
}

.navbar a:active {
  color: #ba496f;
}

.landing_page {
  padding: 5rem;
  text-align: center;
  border-radius: 15px;
  margin-top: 5rem;
}

.auth_Link {
  text-decoration: underline;
  color: #054d85;
}